<a href="https://colab.research.google.com/github/IlTACK-OH/numpy_Practice/blob/main/numpy_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 51. 모듈 임포트
판다스의 시리즈 클래스를 사용하기 위해 주로 사용하는 두 가지 방식으로 임포트해보세요.

In [2]:
import pandas as pd
from pandas import Series

# 52. 시리즈의 생성 (리스트)
다음 데이터를 시리즈로 객체로 생성해보세요.

|점수|
|:---:|
|100|
|200|
|300|

In [10]:
data = [100,200,300]
series_score = Series(data)
series_score

0    100
1    200
2    300
dtype: int64

# 53. 시리즈의 생성 (인덱스 지정)
생성된 시리즈 객체에 인덱스를 추가해보세요.

|인덱스|점수|
|:---:|:---:|
|철수|100|
|영희|200|
|아름|300|

In [12]:
series_score_index = Series(data,index = ['철수','영희','아름'])
series_score_index

철수    100
영희    200
아름    300
dtype: int64

# 54. 시리즈의 생성 (딕셔너리)
다음 데이터를 파이썬 딕셔너리로 표현해보세요. 딕셔너리의 key로 인덱스를 value로 점수 컬럼을 지정하세요. 생성된 딕셔너리를 사용하여 시리즈 객체를 생성해봅시다.

|인덱스|점수|
|:---:|:---:|
|철수|100|
|영희|200|
|아름|300|

In [13]:
dic_data = {'철수':100,'영희':200,'아름':300}
Series(dic_data)

철수    100
영희    200
아름    300
dtype: int64

# 55. 시리즈 생성
다음은 네이버 금융에서 특정 거래일의 인기 종목과 해당 종목의 종가 데이터입니다. 종목명을 인덱스로 하여 종가를 데이터로 지정하여 시리즈 객체를 생성해봅시다.

|종목명|종가|
|:---:|:---:|
|삼성전자|73000|
|셀트리온|356000|
|카카오|367000|
|삼성전자우|68600|
|현대바이오|34150|

In [14]:
dic_data2 = {
    '삼성전자':73000,
    '셀트리온':356000,
    '카카오':36700,
    '삼성전자우':68600,
    '현대바이오':34150
}

Series(dic_data2)

삼성전자      73000
셀트리온     356000
카카오       36700
삼성전자우     68600
현대바이오     34150
dtype: int64

# 56. 시리즈 인덱스
시리즈에 저장된 인덱스만을 출력해보세요.

In [15]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [18]:
s.index

Index(['철수', '영희', '아름'], dtype='object')

# 57. 시리즈 데이터
인덱스 없이 시리즈에 저장된 데이터만을 출력해보세요.

In [19]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [22]:
s.values

array([100, 200, 300])

# 58. 시리즈와 딕셔너리
시리즈를 딕셔너리로 변경해 보세요.

In [23]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [26]:
s.to_dict()

{'철수': 100, '영희': 200, '아름': 300}

# 59. 시리즈와 엑셀
시리즈를 엑셀 파일(`data.xlsx`)에 저장해 보세요.

In [27]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [31]:
s.to_excel('data.xlsx')
s.to_excel('data2.xlsx',header = False)

**data.xlsx**

![image.png]()

**data2.xlsx**<br>
header=False로 설정하면 다음과 같이 저장된다.<br>![image.png]()

# 60. 시리즈와 엑셀
엑셀 파일(`data.xlsx`)을 읽어 오세요.

In [35]:
df1 = pd.read_excel('data.xlsx')
df1

  Unnamed: 0    0
0         철수  100
1         영희  200
2         아름  300

In [41]:
df1.rename(columns = {'Unnamed: 0':'name',
                      0:'Score'})

  name  Score
0   철수    100
1   영희    200
2   아름    300

In [33]:
pd.read_excel('data2.xlsx')

   철수  100
0  영희  200
1  아름  300

# 61. 시리즈 데이터 타입
시리즈의 데이터 타입을 출력해보세요.

In [42]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [43]:
s.dtype

dtype('int64')

# 62. 시리즈 데이터
다음 시리즈의 데이터 타입은 무엇일까요?

In [44]:
data = [  10,  "가" ]
s = Series( data )

In [45]:
s.dtype

dtype('O')

Object이다. 하나의 시리즈에는 하나의 데이터 타입만을 저장해야 한다.

# 63. 시리즈 인덱스의 데이터 타입
시리즈에서 인덱스의 데이터 타입을 출력해보세요.

In [46]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [48]:
s.index.dtype

dtype('O')

# 64. 시리즈 이름과 인덱스 이름
다음은 삼성전자의 종가 데이터입니다. 이를 시리즈 객체로 생성한 후 시리즈의 name 속성에 '종가'를 인덱스의 name 속성에 날짜를 설정해보세요.

|날짜|종가|
|:---:|:---:|
|2020-12-11|73400|
|2020-12-10|72900|
|2020-12-09|73900|
|2020-12-08|71700|
|2020-12-07|72900|

In [53]:
data = {
    '2020-12-11':73400,
    '2020-12-10':72900,
    '2020-12-09':73900,
    '2020-12-08':71700,
    '2020-12-07':72900
}
s = pd.Series(data)
s.name='종가'
s.index.name='날짜'
s

날짜
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64

# 65. to_dict
시리즈의 데이터 타입을 딕셔너리로 변환하세요.

In [54]:
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s

apple     1500
banana    3000
dtype: int64

In [56]:
s.to_dict()

{'apple': 1500, 'banana': 3000}

# 66. 인덱스 이름
다음 시리즈의 인덱스의 이름을 'icecream'으로 변경하세요.

In [57]:
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s

apple     1500
banana    3000
dtype: int64

In [59]:
s.index.name = 'icecream'
s

icecream
apple     1500
banana    3000
dtype: int64

# 67. 시리즈 이름
다음 시리즈 객체의 이름을 'number'로 지정하세요.

In [61]:
s = pd.Series(data=[1, 2, 3])
s.name = 'number'
s

0    1
1    2
2    3
Name: number, dtype: int64

# 68. NaN
다음 시리즈 객체를 생성하세요.

In [67]:
import numpy as np
data = [1.0,2.0, np.NaN]
s = pd.Series(data)
s

0    1.0
1    2.0
2    NaN
dtype: float64

# 69. Index.to_numpy
다음 시리즈 객체의 인덱스를 넘파이 배열로 변경하세요.

In [70]:
s = pd.Series([1, 2, 3])
np.array(s)

array([1, 2, 3])

# 70. Series.array
다음 시리즈 객체의 array 속성을 사용해보세요.(?)

In [74]:
s = pd.Series([1, 2, 3])
s.array

<PandasArray>
[1, 2, 3]
Length: 3, dtype: int64