<a href="https://colab.research.google.com/github/IlTACK-OH/numpy_Practice/blob/main/numpy_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 71. 시리즈 타입
다음 코드를 수행하면 어떤 데이터 타입을 출력되는지 이야기해보세요. 그리고 그 이유는 무엇인가요?

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,'python'])
print(s.dtype)

object

object 타입이 출력됩니다. 시리즈는 하나의 데이터 타입만 가질 수 있습니다. 예제에서처럼 숫자와 문자가 섞여 있는 경우 하나의 데이터 타입으로 표현하기 위하여 숫자를 문자로 변환 후 문자열 타입의 데이터가 있는 시리즈 객체를 생성합니다.

# 72. 시리즈 타입 변경
다음 시리즈 객체의 데이터 타입을 int32로 변경해보세요.

In [4]:
s = pd.Series(['1','2','3'])
print(s.dtype)

object

In [7]:
s = s.astype('int32')
print(s.dtype)

int32

# 73. 시리즈 데이터 타입 설정
BTC 금액이 50000 달러, XRP 금액이 1 달러, ETH 금액이 4000 달러일 때 시리즈 객체로 생성하세요. 시리즈 객체를 생성할 때 가격의 데이터 타입을 float로 지정해서 생성하세요.

In [10]:
price = pd.Series([50000,1,4000],index =['BTC','XRP','ETH'],dtype='float')
price

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

# 74. 시리즈 인덱싱(대괄호 사용하기)
다음 데이터를 시리즈 객체로 표현하세요. 그다음 대괄호([ ])을 사용하여 200을 출력하세요.

In [11]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

In [12]:
print(s['영희'])

200

# 75. 시리즈 인덱싱 (iloc 속성 사용하기)
다음 데이터를 시리즈 객체로 표현하세요. 그다음 iloc 속성을 사용하여 200을 출력하세요.

In [13]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

In [15]:
s.iloc[1]

200

# 76. 시리즈 인덱싱 (loc 속성 사용하기)
다음 데이터를 시리즈 객체로 표현하세요. 그다음 loc 속성을 사용하여 200을 출력하세요.

In [17]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

In [18]:
s.loc['영희']

200

# 77. 시리즈 인덱싱 (인덱스 사용하기)
다음 데이터를 시리즈 객체로 표현하세요. 그다음 인덱스를 사용하여 200을 출력하세요.

In [19]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

In [20]:
s.영희

200

# 78. 시리즈 슬라이싱
시리즈에서 100과 200을 시리즈로 출력하라.

In [23]:
s[:2]

철수    100
영희    200
dtype: int64

# 79. 시리즈 슬라이싱
시리즈에는 일자별 가격 정보가 저장돼 있다. 시리즈에서 상위 3개의 데이터의 날짜 (인덱스)를 출력하라.

In [24]:
data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = pd.Series(data, index)

In [25]:
s.iloc[:3].index

Index(['08/01', '08/02', '08/03'], dtype='object')

# 80. 시리즈 슬라이싱
시리즈에서 100, 300, 500을 슬라이싱으로 출력하라.

In [30]:
data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = pd.Series(data, index)

In [28]:
s.iloc[[0,2,4]]

08/01    100
08/03    300
08/05    500
dtype: int64

In [32]:
# 답안 예시들
print(s.iloc[ : :2])
print(s[ : :2])

print(s.loc["08/01":"08/06":2])
print(s["08/01":"08/06":2])

print(s.iloc[[0, 2, 4]])
print(s.loc[["08/01", "08/03", "08/05"]])

08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64

# 81. 시리즈 추가
시리즈에 순이 인덱스에 400을 추가하라.

In [33]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

In [35]:
s['순이'] = 400

In [36]:
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

# 82. 시리즈 삭제
시리즈에 철수를 삭제하라.

In [41]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

In [42]:
s.drop(index = ['철수'],inplace = True)
s

영희    200
아름    300
dtype: int64

# 83. 시리즈 삭제 (inplace)
시리즈 객체에서 drop 메소드를 사용하여 철수를 삭제하세요. 이때 drop 메소드의 인자로 inplace=True를 사용해보고 그 의미를 설명해보세요.

In [44]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

`drop` 메서드는 원래 원본 데이터를 수정하지 않고 수정된 결과를 반환합니다. inplace=True를 사용하면 원본 데이터에서 삭제가 수행됩니다.

In [45]:
s.drop(index = ['철수'],inplace = True)
s

영희    200
아름    300
dtype: int64

# 84. unique
다음 시리즈 객체는 주식 종목별 업종을 나타냅니다. 업종 중 중복적인 값을 제외한 값을 출력해보세요.

In [46]:
from pandas import Series

data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

In [48]:
s.unique()

array(['전기,전자', '운수장비', '서비스업'], dtype=object)

# 85. unique
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 식대 금액에 대해서 중복적인 값을 제외한 값만 출력해보세요.

In [49]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

In [50]:
s.unique()

array([ 9000,  8000, 10000])

# 86. unique
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 한 번이라도 야근한 직원들의 명부를 출력해보세요.

In [58]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

In [59]:
s.index.unique()

Index(['김과장', '이대리', '박전무'], dtype='object')

# 87. value_counts
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 식대 금액별로 횟수를 출력해보세요.

In [52]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

In [53]:
s.value_counts()

9000     3
8000     1
10000    1
dtype: int64

# 88. value_counts
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 직원별 야근 회수를 출력해보세요.

In [54]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

In [55]:
s.index.value_counts()

이대리    3
김과장    1
박전무    1
dtype: int64

# 89. value_counts
다음 시리즈 객체는 종목에 대한 업종 정보를 표현합니다. 업종별 발생 횟수를 출력해보세요.

In [56]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

In [57]:
s.value_counts()

전기,전자    2
서비스업     2
운수장비     1
dtype: int64

# 90. missing data
아래 표는 어떤 회사의 재무제표의 일부 항목입니다. 다음 표를 판다스 시리즈 객체로 생성하세요. PER 값이 존재하지 않는데 이를 numpy 모듈의 nan 타입을 사용해서 표현하면 됩니다.

In [62]:
import numpy as np
data_value = [300, np.NaN,2.0]
index_name = ['매출액','PER','PBR']
s = pd.Series(data= data_value,
              index = index_name)
s

매출액    300.0
PER      NaN
PBR      2.0
dtype: float64